<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="INFO" name="Log4Test">
    <Appenders>
        <File name="fileLog" filename="service.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level - %msg%n"/>
        </File>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <logger name="org.yurovnik.germes" level="WARN">
            <AppenderRef ref="fileLog"/>
        </logger>
        <Root level="ERROR">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>